/* Generic Styles for El Paso */
* {

margin:0;
padding:0;
}

html {
color:#000;
background-color:#FFF;
font-family:"Times New Roman", Times, serif;
font-size:1em;
}


.reminder {
text-align:center;
color:red;
font-size:22pt;
font-family:arial, helvetica, sans-serif;
font-weight:700;
}

@media print {

.reminder {
display:none;
}

}



p.norm {
line-height:1em;
}


/*  I N D E N T S  /  M A R G I N S  /  W I D T H S  */

/* I N D E N T S */
	/*Percent*/
.in10pc {margin-left: 10%;}
.in20pc {margin-left: 20%;}
.in25pc {margin-left: 25%}
.in30pc {margin-left: 30%;}
.in40pc {margin-left:40%;}
.in50pc {margin-left:50%;}
.in60pc {margin-left:60%;}
.in70pc {margin-left:70%;}
.in80pc {margin-left:80%;}
.in90pc {margin-left:90%;}

	/*Pixel*/
.in6 {margin-left:320px;}
.in7 {margin-left:400px;}
.in8 {margin-left:500px;}
.in9 {margin-left:600px;}
.in10 {margin-left:650px;}
.in360 {margin-left:365px;}
.in450 {margin-left:455px;}
.in545 {margin-left:545px;}

/* M A R G I N S */

	/*up*/
.up1 {margin-top:-26px;}
.up32 {margin-top:-34px;}

.up05 {margin-top:-0.5em;}
.up02 {margin-top:-1.2em;}
.up2 {margin-top:-2.2em;}
.up3 {margin-top:-3.4em;}
.up31 {margin-top:-3.6em;}
.up4 {margin-top:-4em;}
.up5 {margin-top:-5em;}
.up6 {margin-top:-6em;}

	/*down*/
.dn05 {margin-top:.5em;}
.dn1 {margin-top:10px;}
.dn2 {margin-top:3em;}
.dn3 {margin-top:1em;}

/* W I D T H S */
.w180 {width:180px;}
.w270 {width:270px;}
.w360 {width:360px;}
.w450 {width:450px;}
.w540 {width:540px;}
.w600 {width:600px;}

.width10pc {width: 10%;}
.width15pc {width: 15%;}
.width20pc {width: 20%;}
.width25pc {width: 25%}
.width30pc {width: 30%;}
.width40pc {width:40%;}
.width50pc {width:50%;}
.width60pc {width:60%;}
.width70pc {width:70%;}
.width80pc {width:80%;}
.width90pc {width:90%;}



/* B O R D E R S */
	/*1 px*/
.border {border:1px solid #000;
}
.t {border-top:1px solid #000;
}
.r {border-right:1px solid #000;
}
.b {border-bottom:1px solid #000;
}
.l {border-left:1px solid #000;}

	/*2 px*/
.border2 {border:2px solid #000;
}
.t2 {border-top:2px solid #000;
}
.r2 {border-right:2px solid #000;
}
.b2 {border-bottom:2px solid #000;
}
.l2 {border-left:2px solid #000;}

	/*3 px*/
.border3 {border:3px solid #000;
}
.t3 {border-top:3px solid #000;
}
.r3 {border-right:3px solid #000;
}
.b3 {border-bottom:3px solid #000;
}
.l3 {border-left:3px solid #000;}
	/* Removal */
.noBorder {border: none}
.noT {border-top: none}
.noB {border-bottom: none}
.noR {border-right: none}
.noL {border-left: none}
.

/*  T E X T   S T Y L E S  */
.em { font-style: italic;}
.ul { text-decoration: underline;}
.caps { text-transform:uppercase;}
.noTrans {text-transform: none;}
.lower {text-transform: lowercase;}


/*PT SIZES*/
.pt0 {font-size:0pt;}
.pt1 {font-size:1pt;}
.pt2 {font-size:2pt;}
.pt3 {font-size:3pt;}
.pt4 {font-size:4pt;}
.pt5 {font-size:5pt;}
.pt6 {font-size:6pt;}
.pt7 {font-size:7pt;}
.pt8 {font-size:8pt;}
.pt9 {font-size:9pt;}
.pt10 {font-size:10pt;}
.pt11 {font-size:11pt;}
.pt12 {font-size:12pt;}
.pt13 {font-size:13pt;}
.pt14 {font-size:14pt;}
.pt15 {font-size:15pt;}
.pt16 {font-size:16pt;}
.pt17 {font-size:17pt;}
.pt18 {font-size:18pt;}
.pt19 {font-size:19pt;}
.pt20 {font-size:20pt;}
.pt21 {font-size:21pt;}
.pt22 {font-size:22pt;}
.pt23 {font-size:23pt;}
.pt24 {font-size:24pt;}
.pt25 {font-size:25pt;}

/*PX SIZES*/
.px0 {font-size:0px;}
.px1 {font-size:1px;}
.px2 {font-size:2px;}
.px3 {font-size:3px;}
.px4 {font-size:4px;}
.px5 {font-size:5px;}
.px6 {font-size:6px;}
.px7 {font-size:7px;}
.px8 {font-size:8px;}
.px9 {font-size:9px;}
.px10 {font-size:10px;}
.px11 {font-size:11px;}
.px12 {font-size:12px;}
.px13 {font-size:13px;}
.px14 {font-size:14px;}
.px15 {font-size:15px;}
.px16 {font-size:16px;}
.px17 {font-size:17px;}
.px18 {font-size:18px;}
.px19 {font-size:19px;}
.px20 {font-size:20px;}
.px21 {font-size:21px;}
.px22 {font-size:22px;}
.px23 {font-size:23px;}
.px24 {font-size:24px;}
.px25 {font-size:25px;}


/*FAMILIY*/
.serif {font-family:"Times New Roman", Times, serif;}

.cent {font-family:"century schoolbook", "Times New Roman", Times, serif;}

.narrow {font-family:"Arial Narrow", Arial, Helvetica, sans-serif;}

.arial {font-family:Arial, Helvetica, sans-serif;}

.times {font-family:"Times New Roman", Times, serif;}

.center {text-align:center;}

.align-right {text-align:right;}

.align-left {text-align:left;}

.cap {
text-transform:uppercase;
}

.strong { font-weight: 700}

.unchecked {
margin-left:5px;
background:url('../../../../../../../images/box_unchecked_10x10.gif') no-repeat 0 7px !important;
}

.checked {
background:url('../../../../../../../images/box_checked_10x10.gif');
}

.checkbox {
display:inline-block;
border:1px solid black;
width:10px;
height:10px;
font-size:2px;
}

.checkboxRed {
display:inline-block;
border:1px solid red;
width:10px;
height:10px;
font-size:2px;
}

.checkbox2 {
display:inline-block;
border:1px solid black;
width:18px;
height:18px;
font-size:2px;
}

.unchecked-L {
margin-left:5px;
background:transparent url('../../../../../../../images/box_unchecked_20x20.gif') no-repeat 0 5px !important;
width:20px;
height:20px;
padding:5px;
}

.checked-L {
margin-left:5px;
background:transparent url('../../../../../../../images/box_checked_20x20.gif') no-repeat 0 5px !important;
width:20px;
height:20px;
padding:5px;
}

/* boxes */
.box1 {
border:1px solid #000;
width:10px;
height:17px;
display:inline;
margin:0;
padding:0 5px;
}

.box2 {
border-left:1px solid #000;
border-top:1px solid #000;
border-bottom:1px solid #000;
width:300px;
height:15px;
display:inline;
margin:0;
padding:1px 5px;
}

.box4 {
width:400px;
height:45px;
}

/*  P A G E   F O R M A T T I N G  */
.page-break {
page-break-before:always;
}

/* fields */
.field {
 background-color: yellow;
 color: black;
 vertical-align:bottom;
 font-size:inherit;
 font-weight:inherit;
 font-style:inherit;
}

.field1 {
background-color:#FFF;
color:#000;
font-size:inherit;
font-weight:inherit;
font-style:inherit;
}
.inline-block {display: inline-block}
.dib {display: inline-block}
.block {display: block}
.inline {display: inline}

.hide {display: none}
.black {background-color:#000000}
@media print  {
page {
width:8.5in;
height:11in;
margin:0;
}

body {
margin:.25em;
}
}

/*FONT SIZES*/
	/*point*/
.fs_0pt {font-size:0pt;}
.fs_1pt {font-size:1pt;}
.fs_2pt {font-size:2pt;}
.fs_3pt {font-size:3pt;}
.fs_4pt {font-size:4pt;}
.fs_5pt {font-size:5pt;}
.fs_6pt {font-size:6pt;}
.fs_7pt {font-size:7pt;}
.fs_8pt {font-size:8pt;}
.fs_9pt {font-size:9pt;}
.fs_10pt {font-size:10pt;}
.fs_11pt {font-size:11pt;}
.fs_12pt {font-size:12pt;}
.fs_13pt {font-size:13pt;}
.fs_14pt {font-size:14pt;}
.fs_15pt {font-size:15pt;}
.fs_16pt {font-size:16pt;}
.fs_17pt {font-size:17pt;}
.fs_18pt {font-size:18pt;}
.fs_19pt {font-size:19pt;}
.fs_20pt {font-size:20pt;}
.fs_21pt {font-size:21pt;}
.fs_22pt {font-size:22pt;}
.fs_23pt {font-size:23pt;}
.fs_24pt {font-size:24pt;}
.fs_25pt {font-size:25pt;}
.fs_26pt {font-size:26pt;}
.fs_27pt {font-size:27pt;}
.fs_28pt {font-size:28pt;}
.fs_29pt {font-size:29pt;}
.fs_30pt {font-size:30pt;}
.fs_31pt {font-size:31pt;}
.fs_32pt {font-size:32pt;}
.fs_33pt {font-size:33pt;}
.fs_34pt {font-size:34pt;}
.fs_35pt {font-size:35pt;}
.fs_36pt {font-size:36pt;}
.fs_37pt {font-size:37pt;}
.fs_38pt {font-size:38pt;}
.fs_39pt {font-size:39pt;}
.fs_40pt {font-size:40pt;}

	/*em's*/
.fs_0-4em {font-size: 0.4em;}
.fs_0-5em {font-size: 0.5em;}
.fs_0-6em {font-size: 0.6em;}
.fs_0-7em {font-size: 0.7em;}
.fs_0-8em {font-size: 0.8em}
.fs_0-9em {font-size: 0.9em}
.fs_1-0em {font-size: 1em}
.fs_1-1em {font-size: 1.1em}
.fs_1-2em {font-size: 1.2em}
.fs_1-3em {font-size: 1.3em}
.fs_1-4em {font-size: 1.4em}
.fs_1-5em {font-size: 1.5em}
.fs_1-6em {font-size: 1.6em}
.fs_1-7em {font-size: 1.7em}
.fs_1-8em {font-size: 1.8em}
.fs_1-9em {font-size: 1.9em}
.fs_2-0em {font-size: 2em}
.fs_2-3em {font-size: 2.3em}
.fs_2-6em {font-size: 2.6em}
.fs_2-9em {font-size: 2.9em}
.fs_3-0em {font-size: 3em}
	
	/*pixels*/	
.fs_0px {font-size:0px;}
.fs_1px {font-size:1px;}
.fs_2px {font-size:2px;}
.fs_3px {font-size:3px;}
.fs_4px {font-size:4px;}
.fs_5px {font-size:5px;}
.fs_6px {font-size:6px;}
.fs_7px {font-size:7px;}
.fs_8px {font-size:8px;}
.fs_9px {font-size:9px;}
.fs_10px {font-size:10px;}
.fs_11px {font-size:11px;}
.fs_12px {font-size:12px;}
.fs_13px {font-size:13px;}
.fs_14px {font-size:14px;}
.fs_15px {font-size:15px;}
.fs_16px {font-size:16px;}
.fs_17px {font-size:17px;}
.fs_18px {font-size:18px;}
.fs_19px {font-size:19px;}
.fs_20px {font-size:20px;}
.fs_21px {font-size:21px;}
.fs_22px {font-size:22px;}
.fs_23px {font-size:23px;}
.fs_24px {font-size:24px;}
.fs_25px {font-size:25px;}
.fs_26px {font-size:26px;}
.fs_27px {font-size:27px;}
.fs_28px {font-size:28px;}
.fs_29px {font-size:29px;}
.fs_30px {font-size:30px;}
.fs_31px {font-size:31px;}
.fs_32px {font-size:32px;}
.fs_33px {font-size:33px;}
.fs_34px {font-size:34px;}
.fs_35px {font-size:35px;}
.fs_36px {font-size:36px;}
.fs_37px {font-size:37px;}
.fs_38px {font-size:38px;}
.fs_39px {font-size:39px;}
.fs_40px {font-size:40px;}



/************************************************
--\/-------------------\/--------------------\/--
(10) 	C H A R L I E ' S   S T Y L E S  
--\/-------------------\/--------------------\/--
************************************************/
.top{border-top:1px solid black;}

.top2{border-top:2px solid black;}

.topper{margin-top:50px;}

.bottom{border-bottom:1px solid black;}

.bottom2{border-bottom:2px solid black;}

.right{border-right:1px solid black;}

.left{border-left:1px solid black;}

.right2{border-right:2px solid black;}

.left2{border-left:2px solid black;}

.another{font-size:11px;font-family:Arial, Helvetica, sans-serif;}

.main{font-size:11px;font-family:Arial, Helvetica, sans-serif;}

.notmain{font-size:16px;font-family:Arial, Helvetica, sans-serif;}

.mid{font-size:16px;font-family:Arial, Helvetica, sans-serif;}

.midish{font-size:14px;font-family:Arial, Helvetica, sans-serif;}

.lefter{margin-left:20px;}

.lefterly{margin-left:50px;}

.topper{margin-top:0px;}

.big{font-size:20px;font-family:Arial, Helvetica, sans-serif;}

.bigger{font-size:20px;font-family:Arial, Helvetica, sans-serif;}

.small{font-size:8px;font-family:Arial, Helvetica, sans-serif;}

body{margin-top:50px; margin-left:30px; margin-right:30px; width:690px;}

.lefta{padding-left:2px;}

.righta{padding-right:8px;}

.topa{padding-top:12px;}

.bgcolor{background-color:#bbbbbb;}

span.filler-solid {border-bottom: 1px solid #000; display:block;margin-bottom: 3px;} 

span.filler-dotted {border-bottom: 1px dotted #000; display:block;margin-bottom: 3px;} 

span.filler-bg {background-color:#FFF;padding: 1px;display:inline;}

.yellow{background-color:yellow;}

.green{background-color:#66ff00;}



